<%- include('./partials/header.ejs') %>

<div class="card m-2">
    <h3 class="card-header">Log out</h3>
    <div class="card-body">
        <p class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            Successfully logged out!
        </p>
        <%- include('./partials/redirectToLogin.ejs') %>
    </div>
</div>

<%- include('./partials/footer.ejs') %>