<%- include('./partials/header.ejs') %>

<div class="card m-2">
    <h3 class="card-header">Page Not Found - 404</h3>
    <div class="card-body">
        <div class="alert alert-warning alert-dismissible show mt-2" role="alert">
            We couldn't find page you tried to access. It might have been removed or has never exist. Check also that you wrote url correctly. Check all available pages from top navigation.
        </div>
    </div>

    <p class="card-footer">
        <a href="/">To home page</a>
    </p>
</div>

<%- include('./partials/footer.ejs') %>