<% if (errors && errors[attribute]) { %>
    <div class="alert alert-danger m-1" role="alert">
            <% Object.values(errors[attribute]).forEach((err) => { %>
            <%= err %><br/>
            <% }); %>
    </div>
<% } %>